<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="passport-information">
    <!-- <p th:text="${response.mrzDto.line1}">mrz</p> -->
    <div id="header" class="px-4 sm:px-0">
      <h3 class="text-4xl font-semibold text-gray-900">Passport Information</h3>
      <p class="mt-1 max-w-2xl text-lg text-gray-500">
        Data details after reading the passport/e-passport
      </p>
    </div>
    <div
      id="title"
      class="mt-2 grid grid-cols-2 items-baseline border-t border-gray-100 px-4 sm:px-0"
    >
      <div class="flex flex-row space-x-3 p-3">
        <div th:replace="~{fragments/country_flag :: countryFlag (${response.mrzInfo.countryFlagUrl})}"></div>
        <p
          class="max-w-2xl justify-self-stretch text-2xl font-bold text-gray-500"
        >
          <span th:text="${response.mrzInfo.passportNumber}">BC765432</span>
          / <span th:text="${response.mrzInfo.name}">JOHN DOE</span>
        </p>
      </div>
      <svg
        class="max-w-2xl justify-self-end fill-amber-600"
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="20"
        viewBox="0 0 210 297"
      >
        <path
          d="M-111.5625 24.75V136.125H23.539306A82.5 82.5 0 0 1 105 66 82.5 82.5 0 0 1 186.5 136.125H321.5625V24.75ZM105 90.75A57.75 57.75 0 0 0 47.25 148.5 57.75 57.75 0 0 0 105 206.25 57.75 57.75 0 0 0 162.75 148.5 57.75 57.75 0 0 0 105 90.75Zm-216.5625 70.125V272.25h433.125V160.875H186.46068A82.5 82.5 0 0 1 105 231 82.5 82.5 0 0 1 23.5 160.875Z"
          stroke-width="81.90428162"
        />
      </svg>
    </div>
    <div id="mrz-info" class="flex space-x-4 border-t border-gray-100 p-2">
      <div id="photo" class="flex flex-row gap-2">
        <div class="flex flex-col items-center space-y-1">
          <img
            class="w-36 h-44 aspect-auto object-cover flex-none rounded-sm bg-gray-50"
            id="viz-photo"
            th:src="@{'data:image/ png;base64, '+${response.vizPhotoImage.imageData}}"
            alt="document-photp"
          />
          <h3 class="text-md font-semibold">Document</h3>
        </div>
        <div class="flex flex-col items-center space-y-1">
          <img
            class="w-36 h-44 aspect-auto object-cover flex-none rounded-sm bg-gray-50"
            id="epass-photo"
            th:src="@{'data:image/png;base64, '+${response.ePassPhotoImage.imageData}}"
            alt="chip-photo"
          />
          <h3 class="text-md font-semibold">Chip</h3>
        </div>
      </div>
      <div id="mrz-info" class="p-2" th:object="${response.mrzInfo}">
        <dl class="grid grid-cols-3">
          <div class="flex flex-col px-2 py-2">
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              DOCUMENT TYPE
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{docType}"
            >
              P
            </dd>
          </div>
          <div class="flex flex-col px-2 py-2">
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              ISSUING STATE
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{issuingState}"
            >
              UTO
            </dd>
          </div>
          <div class="flex flex-col px-2 py-2">
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              DOCUMENT NUMBER
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{passportNumber}"
            >
              BC765432
            </dd>
          </div>
          <div class="flex flex-col px-2 py-2">
            <dt class="font-mono text-sm/6 font-medium text-gray-900">NAME</dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{name}"
            >
              JOHN DOE
            </dd>
          </div>
          <div class="flex flex-col px-2 py-2">
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              NATIONALITY
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{nationality}"
            >
              UTOPIA
            </dd>
          </div>
          <div class="flex flex-col px-2 py-2">
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              DATE OF BIRTH
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{birth}"
            >
              07/02/1980
            </dd>
          </div>
          <div class="flex flex-col px-2 py-2">
            <dt class="font-mono text-sm/6 font-medium text-gray-900">SEX</dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{sex}"
            >
              07/02/1980
            </dd>
          </div>
          <div class="flex flex-col px-2 py-2">
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              DATE OF EXPIRY
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{expiryDate}"
            >
              07/02/2023
            </dd>
          </div>
        </dl>
      </div>
    </div>
    <!-- name of each tab group should be unique -->
    <div class="tabs-border tabs">
      <input
        type="radio"
        name="my_tabs_2"
        class="tab"
        aria-label="MRZ Image"
        checked="checked"
      />
      <div class="tab-content border-base-300 bg-base-100 p-10">
        <div id="mrz-image-ocr" class="mt-1 grid grid-cols-2 gap-4 p-2">
          <div id="mrz-image" class="flex flex-col items-center gap-2">
            <img
              class="aspect-auto object-cover flex-none rounded-sm bg-gray-50"
              id="mrz-photo"
              th:src="@{'data:image/png;base64, '+${response.mrzImage.imageData}}"
              alt="mrz-photo"
            />
            <dt class="font-mono text-sm/6 font-semibold text-gray-900">
              MRZ Image
            </dt>
          </div>
          <div
            id="mrz-ocr"
            class="flex flex-col gap-2"
            th:object="${response.mrzLines}"
          >
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              Line 1
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{line1}"
            >
              LINE 1
            </dd>
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              Line 2
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{line2}"
            >
              LINE 2
            </dd>
            <dt class="font-mono text-sm/6 font-medium text-gray-900">
              Line 3
            </dt>
            <dd
              class="mt-1 text-sm/6 font-semibold text-gray-900 sm:col-span-2 sm:mt-0"
              th:text="*{line3}"
            >
              LINE 3
            </dd>
          </div>
        </div>
      </div>

      <input type="radio" name="my_tabs_2" class="tab" aria-label="IR" />
      <div class="tab-content border-base-300 bg-base-100 p-10">
        <div id="ir-image" class="flex flex-col items-center gap-2">
          <img
            class="aspect-auto object-cover flex-none rounded-sm bg-gray-50"
            id="ir-image"
            th:src="@{'data:image/png;base64, '+${response.irFullImage.imageData}}"
            alt="ir-image"
          />
          <dt class="font-mono text-sm/6 font-semibold text-gray-900">
            MRZ Image
          </dt>
        </div>
      </div>

      <input type="radio" name="my_tabs_2" class="tab" aria-label="UV" />
      <div class="tab-content border-base-300 bg-base-100 p-10">
        <div id="ir-image" class="flex flex-col items-center gap-2">
          <img
            class="aspect-auto object-cover flex-none rounded-sm bg-gray-50"
            id="uv-image"
            th:src="@{'data:image/png;base64, '+${response.uvFullImage.imageData}}"
            alt="uv-image"
          />
          <dt class="font-mono text-sm/6 font-semibold text-gray-900">
            UV Image
          </dt>
        </div>
      </div>

      <input type="radio" name="my_tabs_2" class="tab" aria-label="WH" />
      <div class="tab-content border-base-300 bg-base-100 p-10">
        <div id="wh-image" class="flex flex-col items-center gap-2">
          <img
            class="aspect-auto object-cover flex-none rounded-sm bg-gray-50"
            id="wh-image"
            th:src="@{'data:image/png;base64, '+${response.whFullImage.imageData}}"
            alt="wh-image"
          />
          <dt class="font-mono text-sm/6 font-semibold text-gray-900">
            WH Image
          </dt>
        </div>
      </div>
    </div>
  </div>
</html>
