<html xmlns:th="http://www.thymeleaf.org">
  <div id="response" th:fragment="scan-page">
    <!-- <p th:text="${response.mrzDto.line1}">mrz</p> -->
    <div id="header" class="px-4 sm:px-0">
      <h3 class="text-4xl font-semibold text-gray-900">Scan Page</h3>
      <p class="mt-1 max-w-2xl text-lg text-gray-500">
        Scan image of Document Page.
      </p>
    </div>
    <div id="barcode-data" class="flex space-x-4 border-t border-gray-100 p-2">
      <div id="div-barcode-image" class="flex flex-row gap-2">
        <div class="skeleton h-md w-md flex flex-col items-center space-y-1">
          <img
            class="aspect-auto h-auto w-xl flex-none rounded-sm bg-gray-50 object-cover"
            id="barcode-image"
            th:src="@{'data:image/ png;base64, '+${image.imageData}}"
            alt="document-photo"
          />
          <h3 class="text-md font-semibold">Scan</h3>
        </div>
        <form action="/fphps/scan-page" method="post" class="flex gap-2">
          <select
            id="hs-select-light-type"
            name="lightType"
            class="py-3 px-4 pe-9 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
          >
            <option selected="">Click this to select Light-Type</option>
            <option value="1">IR</option>
            <option value="2">WH</option>
            <option value="3">UV</option>
          </select>

          <button
            type="submit"
            class="inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-blue-600 px-4 py-3 text-sm font-medium text-white hover:bg-blue-700 focus:bg-blue-700 focus:bg-blue-700 focus:outline-hidden focus:outline-hidden disabled:pointer-events-none disabled:opacity-50"
          >
            <!-- <span
              class="inline-block size-4 animate-spin rounded-full border-3 border-current border-t-transparent text-white"
              role="status"
              aria-label="loading"
            ></span> -->
            Scan
          </button>
        </form>
      </div>
    </div>
  </div>
</html>
